h1 {
  color: blue;
  font-size: 200%;
}

p {
    font-family: "comic-sans";
    text-indent: 20px;
    margin-left: 10px;
}

#content {
  background-color: gray;
  width: 1000px;
  min-height: 1000px;
  padding: 20px;
  margin: 20px;
  border: dotted 20px white;
  font-size: 20px;
}

#my-portrait {
  width: 200px;
  min-height: 200px;
}
